
/*	Animations - WebKit only
------------------------------------------ */



	#logo {

		-webkit-animation: logogoo 4s 2s infinite;

	}


	#one {

	-webkit-animation: jarsOne 4s 2s infinite;
}

	#two {

	-webkit-animation: jarsTwo 4s 2s infinite;
}


	#three {

	-webkit-animation: jarsThree 4s 2s infinite;
}

/*	Keyframes - WebKit only
------------------------------------------ */


@-webkit-keyframes logogoo {
	
	50%{ -webkit-transform:  translatey(-200px);}

}



@-webkit-keyframes jarsOne {
	
	50%{ -webkit-transform:  translatey(-200px);}

}


@-webkit-keyframes jarsTwo {
	
	50%{ -webkit-transform:  translatey(-100px);}

}



@-webkit-keyframes jarsThree {
	
	50%{ -webkit-transform:  translatey(-50px);}

}

