


/*THIS IS THE BACKGROUND */
#fullpage {


  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}



@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


/*THIS IS THE LOGO*/

#logo {
  position: relative;
  text-align: center;

}


/*THIS IS THE JARS FALLING*/

.jars {
 
  
}

#one {
  position: relative;
  top:500px;
  left:500px;
  z-index: 1;
  
}

#two {
  position: relative;
  top: 570px;
  left:370px;
  z-index: 2;
  
}

#three {
  position: relative;
  top:640px;
  left:242px;
  z-index: 3;
  
}