

h1 {
	color:red;
}


#container {
	position: relative;
	position: relative;}


#fullpage {


  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}



@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}



#large { height:1100px; text-align: center; padding-top: 700px;}

#peg4 { position: relative; }